.cart {
  flex: 1;
  display: flex;
  flex-direction: column;

  .cartBlock {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;

    .cartBlockBtn {
      position: absolute;
      top: 0;
      right: 0;
      padding: 5px 10px;
      font-size: 20px;
      font-weight: bold;
      border: 0px solid transparent;
      background-color: transparent;
      cursor: pointer;
    }
  }

  .cartAmount {
    padding: 10px 20px;

    .cartAmountSpan {
      font-size: 24px;
      color: red;
    }
  }
}
